## Preprocessing

In [ ]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns = ['EIN', 'NAME'])
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [ ]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [ ]:
# Look at APPLICATION_TYPE value counts for binning
app_count = application_df['APPLICATION_TYPE'].value_counts()
app_count

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_count[app_count < 300].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Look at CLASSIFICATION value counts for binning
classifications = application_df['CLASSIFICATION'].value_counts()
classifications

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [ ]:
# You may find it helpful to look at CLASSIFICATION value counts >1
filtered_classifications = classifications[classifications > 1]
filtered_classifications

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classifications[classifications < 1670].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [ ]:
# Convert categorical data to numeric with `pd.get_dummies`
numeric_df = pd.get_dummies(application_df)
numeric_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [ ]:
# Split our preprocessed data into our features and target arrays
y = numeric_df['IS_SUCCESSFUL']
X = numeric_df.drop(['IS_SUCCESSFUL'], axis=1)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  10
hidden_nodes_layer2 = 20

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 10)                440

 dense_1 (Dense)             (None, 20)                220

 dense_2 (Dense)             (None, 1)                 21

=================================================================
Total params: 681
Trainable params: 681
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 2ms/step - loss: 0.6046 - accuracy: 0.6894
Epoch 2/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5610 - accuracy: 0.7260
Epoch 3/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5564 - accuracy: 0.7268
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5541 - accuracy: 0.7285
Epoch 5/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5529 - accuracy: 0.7311
Epoch 6/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5517 - accuracy: 0.7314
Epoch 7/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5511 - accuracy: 0.7311
Epoch 8/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5505 - accuracy: 0.7313
Epoch 9/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5494 - accuracy: 0.7331
Epoch 10/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5493 - accuracy: 0.7330
Epoch 11/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5489 - accuracy: 0.7324
Epoch 12/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5485 - accuracy: 0.7337
Epoch 13/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5483 - accuracy: 0.7331
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5477 - accuracy: 0.7334
Epoch 15/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5479 - accuracy: 0.7330
Epoch 16/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5477 - accuracy: 0.7329
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5471 - accuracy: 0.7335
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5473 - accuracy: 0.7335
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5472 - accuracy: 0.7350
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5469 - accuracy: 0.7342
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5472 - accuracy: 0.7346
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5466 - accuracy: 0.7341
Epoch 23/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5463 - accuracy: 0.7346
Epoch 24/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5461 - accuracy: 0.7353
Epoch 25/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5459 - accuracy: 0.7352
Epoch 26/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5464 - accuracy: 0.7346
Epoch 27/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5460 - accuracy: 0.7345
Epoch 28/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5459 - accuracy: 0.7337
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5458 - accuracy: 0.7355
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5455 - accuracy: 0.7358
Epoch 31/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5455 - accuracy: 0.7349
Epoch 32/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5454 - accuracy: 0.7350
Epoch 33/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5456 - accuracy: 0.7358
Epoch 34/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5455 - accuracy: 0.7345
Epoch 35/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5452 - accuracy: 0.7342
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5449 - accuracy: 0.7358
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5445 - accuracy: 0.7357
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5447 - accuracy: 0.7356
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5447 - accuracy: 0.7357
Epoch 40/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5448 - accuracy: 0.7368
Epoch 41/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5448 - accuracy: 0.7364
Epoch 42/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5447 - accuracy: 0.7356
Epoch 43/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5442 - accuracy: 0.7361
Epoch 44/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5442 - accuracy: 0.7368
Epoch 45/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5442 - accuracy: 0.7358
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5438 - accuracy: 0.7363
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5441 - accuracy: 0.7360
Epoch 48/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5441 - accuracy: 0.7364
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5441 - accuracy: 0.7368
Epoch 50/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5444 - accuracy: 0.7362
Epoch 51/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5439 - accuracy: 0.7362
Epoch 52/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5440 - accuracy: 0.7358
Epoch 53/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5439 - accuracy: 0.7366
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5440 - accuracy: 0.7362
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5439 - accuracy: 0.7362
Epoch 56/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5437 - accuracy: 0.7358
Epoch 57/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5437 - accuracy: 0.7363
Epoch 58/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5435 - accuracy: 0.7370
Epoch 59/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5438 - accuracy: 0.7371
Epoch 60/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5436 - accuracy: 0.7374
Epoch 61/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5436 - accuracy: 0.7365
Epoch 62/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5436 - accuracy: 0.7369
Epoch 63/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5436 - accuracy: 0.7349
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5430 - accuracy: 0.7363
Epoch 65/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5433 - accuracy: 0.7365
Epoch 66/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5433 - accuracy: 0.7367
Epoch 67/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5431 - accuracy: 0.7367
Epoch 68/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5433 - accuracy: 0.7363
Epoch 69/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5431 - accuracy: 0.7368
Epoch 70/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5431 - accuracy: 0.7366
Epoch 71/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5430 - accuracy: 0.7364
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5434 - accuracy: 0.7367
Epoch 73/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5430 - accuracy: 0.7362
Epoch 74/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5427 - accuracy: 0.7369
Epoch 75/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5428 - accuracy: 0.7364
Epoch 76/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5428 - accuracy: 0.7367
Epoch 77/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5425 - accuracy: 0.7372
Epoch 78/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5429 - accuracy: 0.7365
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5427 - accuracy: 0.7364
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5424 - accuracy: 0.7372
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5427 - accuracy: 0.7367
Epoch 82/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5426 - accuracy: 0.7369
Epoch 83/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5426 - accuracy: 0.7355
Epoch 84/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5424 - accuracy: 0.7358
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5421 - accuracy: 0.7370
Epoch 86/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5424 - accuracy: 0.7363
Epoch 87/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5426 - accuracy: 0.7366
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5424 - accuracy: 0.7366
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5423 - accuracy: 0.7361
Epoch 90/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5424 - accuracy: 0.7366
Epoch 91/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5421 - accuracy: 0.7366
Epoch 92/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5425 - accuracy: 0.7366
Epoch 93/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5420 - accuracy: 0.7360
Epoch 94/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5420 - accuracy: 0.7375
Epoch 95/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5425 - accuracy: 0.7354
Epoch 96/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5418 - accuracy: 0.7372
Epoch 97/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5417 - accuracy: 0.7370
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5421 - accuracy: 0.7370
Epoch 99/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5417 - accuracy: 0.7364
Epoch 100/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5420 - accuracy: 0.7358

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5528 - accuracy: 0.7263 - 718ms/epoch - 3ms/step
Loss: 0.5528225898742676, Accuracy: 0.7262973785400391

In [ ]:
# Export our model to HDF5 file
filepath = r"C:\Users\Brett\Desktop\AlphabetSoupCharity.h5"
nn.save(filepath, save_format ='h5')

In [ ]:
## Second Attempt With KerasTuner

In [ ]:
!pip install keras-tuner

Requirement already satisfied: keras-tuner in /usr/local/lib/python3.10/dist-packages (1.3.5)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from keras-tuner) (23.1)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from keras-tuner) (2.31.0)
Requirement already satisfied: kt-legacy in /usr/local/lib/python3.10/dist-packages (from keras-tuner) (1.0.5)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (2023.7.22)

In [45]:
input_features = X_train_scaled.shape[1]

In [46]:
def create_model(hp):
    nn_model = tf.keras.models.Sequential()

    # Allow kerastuner to decide which activation function to use in hidden layers
    activation = hp.Choice('activation',['relu','tanh','sigmoid'])

    # Allow kerastuner to decide number of neurons in first layer
    nn_model.add(tf.keras.layers.Dense(units=hp.Int('first_units',
        min_value=1,
        max_value= 50,
        step=5), activation=activation, input_dim=input_features))

    # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
    for i in range(hp.Int('num_layers', 1, 5)):
        nn_model.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
            min_value=1,
            max_value=30,
            step=5),
            activation=activation))

    nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    nn_model.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])

    return nn_model

In [47]:
import keras_tuner as kt

tuner = kt.Hyperband(
    create_model,
    objective="val_accuracy",
    max_epochs=50,
    hyperband_iterations=2)

In [ ]:
tuner.search(X_train_scaled, y_train, epochs=50, validation_data=(X_test_scaled, y_test))

Trial 40 Complete [00h 00m 12s]
val_accuracy: 0.7271137237548828

Best val_accuracy So Far: 0.7289795875549316
Total elapsed time: 00h 11m 18s

Search: Running Trial #41

Value             |Best Value So Far |Hyperparameter
tanh              |relu              |activation
16                |66                |first_units
4                 |1                 |num_layers
16                |26                |units_0
26                |6                 |units_1
21                |21                |units_2
16                |11                |units_3
6                 |6                 |units_4
20                |20                |tuner/epochs
7                 |0                 |tuner/initial_epoch
2                 |0                 |tuner/bracket
2                 |0                 |tuner/round
0036              |None              |tuner/trial_id

Epoch 8/20

In [ ]:
# Get top 3 model
top_hyper = tuner.get_best_hyperparameters(3)
for param in top_hyper:
    print(param.values)

In [ ]:
# Evaluate the top 3 models against the test dataset
top_model = tuner.get_best_models(3)
for model in top_model:
    model_loss, model_accuracy = model.evaluate(X_test_scaled,y_test,verbose=2)
    print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

In [ ]:
second_hyper = tuner.get_best_hyperparameters()[0]
second_hyper.values

In [ ]:
second_model = tuner.get_best_models()[0]
model_loss, model_accuracy = second_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

In [ ]:
second_model.save('AlphabetSoupCharity_Optimization.h5')